{# @var \Symfony\Component\Form\FormInterface form #}
{# @var \App\Entity\Mandate mandate #}

{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.mandates'|trans, link: path('admin_mandates')}
            ],
            current: {title: 'title.mandate_edit'|trans},
            add: {link: path('admin_mandate_add'), text: 'action.add_mandate'|trans},
            frontendLink: path("mandate", {
                "electionSlug": mandate.election.slug,
                "politicianSlug": mandate.politician.slug
            })
        } only %}

        {% include 'admin/component/form/mandate.html.twig' with {form: form} only %}
    </div>
{% endblock %}