{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'admin/component/breadcrumb.html.twig' with {
                    current: {title: 'title.mandates'|trans},
                    add: {link: path('admin_mandate_add'), text: 'action.add_mandate'|trans}
                } only %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'admin/component/list/mandates.html.twig' with {
                    mandates: mandates
                } only %}
            </div>
        </div>
    </div>
{% endblock %}