{% set line %}
    <div class="pt-2 h-100">
        <div class="bg-primary px-1 h-100 position-relative">
            <div class="fa fa-dot-circle text-primary rounded-circle bg-white timeline-circle begin">
                <div class="arrow-down fa fa-long-arrow-alt-down"></div>
            </div>
        </div>
    </div>
{% endset %}

{% include "app/component/block/timeline/layout.html.twig" with {
    line: line,
    header: header|default,
    content: content|default
} %}