{% set line %}
    <div class="bg-primary px-1 h-100 position-relative">
        <div class="bg-primary p-2 rounded-circle" style="position: absolute; top: .5rem; left: -50%;"></div>
    </div>
{% endset %}

{% include "app/component/block/timeline/layout.html.twig" with {
    line: line,
    header: header|default,
    content: content|default
} %}