{# @var bool with_arrow #}

{% set line %}
    <div class="bg-primary px-1 h-100 position-relative">
        <div class="bg-primary p-2 rounded-circle timeline-circle">
            {% if with_arrow is not defined or with_arrow %}
                <div class="arrow-down fa fa-long-arrow-alt-down"></div>
            {% endif %}
        </div>
    </div>
{% endset %}

{% include "app/component/block/timeline/layout.html.twig" with {
    line: line,
    header: header|default,
    content: content|default
} %}