<h5>Metodologia de identificare a problemelor</h5>
<div>
    Principala problemă la nivel local a fost identificată în cadrul sondajului
    <a href="https://avemcevotam.md/" target="_blank">5000 de moldoveni au spus</a>,
    în cadrul căruia au fost chestionați peste 5 mii de cetățeni din circumscripțiile uninominale,
    cu excepția regiunii transnistrene și a circumscripțiilor din afara țării.
    Sondajul a fost organizat în cadrul proiectului <a href="https://avemcevotam.md/" target="_blank">Avem ce votăm</a>,
    implementat de coaliția următoarelor organizații din Moldova:
    deFacto, Inițiativa Civică <a href="http://puneumarul.md/" target="_blank">„Pune Umărul”</a>,
    Școala de Gândire Critică pentru Tineri <a href="http://www.challenger.md/" target="_blank">„Challenger”</a>,
    Programul <a href="http://puneumarul.md/lansarea-programului-femei-cu-idei/" target="_blank">„Femei cu Idei”</a>.
    În continuare, opinia alegătorilor privind principalele probleme din circumscripțiile electorale sunt colectate
    cu ajutorul sondajului creat cu ajutorul platformei <a href="https://parereata.md/" target="_blank">„Părerea Ta”</a>.
</div>