*

!Dockerfile
!assets/

!bin/
bin/*
!bin/console

!config/
!composer.json
!composer.lock

!docker-image/

!public/
public/bundles/

!package.json
!package-lock.json

!src/
!templates/
!translations/

!uploads/
uploads/build/*

!.env.dist
!composer.*
!LICENSE
!README.md
!symfony.lock
!tsconfig.json
!webpack.config.js
