{# @var \Symfony\Component\Form\FormInterface form #}
{# @var \App\Entity\BlogPost blogPost #}

{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.blog'|trans, link: path('admin_blog_posts')}
            ],
            current: {title: 'title.blog_post_edit'|trans},
            add: {link: path('admin_blog_post_add'), text: 'action.add_blog_post'|trans}
        } only %}

        {% include 'admin/component/form/blogPost.html.twig' with {form: form, blogPost: blogPost} only %}
    </div>
{% endblock %}