{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.promises'|trans, link: path('admin_promises')}
            ],
            current: {title: 'title.action'|trans}
        } only %}

        {% include 'admin/component/form/action.html.twig' with {
            form: form,
            submitText: 'action.add_action'|trans
        } only %}
    </div>
{% endblock %}