{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'admin/component/breadcrumb.html.twig' with {
                    current: {title: 'title.actions'|trans}
                } only %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    {{ 'title.actions'|trans }}
                    <sup>
                        <a href="{{ path('admin_action_add') }}" class="badge badge-light text-muted"
                        >{{ 'action.add'|trans }}</a>
                    </sup>
                </h3>
                {% include 'admin/component/list/actions.html.twig' with {
                    actions: actions
                } only %}
            </div>
        </div>
    </div>
{% endblock %}