{# @var \Symfony\Component\Form\FormInterface form #}
{# @var \App\Entity\Constituency constituency #}

{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.constituencies'|trans, link: path('admin_constituencies')}
            ],
            current: {title: 'title.constituency_edit'|trans},
            add: {link: path('admin_constituency_add'), text: 'action.add_constituency'|trans}
        } only %}

        {% include 'admin/component/form/constituency.html.twig' with {form: form} only %}
    </div>
{% endblock %}