{# @var \Symfony\Component\Form\FormInterface form #}
{# @var \App\Entity\Party party #}

{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.parties'|trans, link: path('admin_parties')}
            ],
            current: {title: 'title.party_edit'|trans},
            add: {link: path('admin_party_add'), text: 'action.add_party'|trans}
        } only %}

        {% include 'admin/component/form/party.html.twig' with {form: form, party: party} only %}
    </div>
{% endblock %}