{% extends 'app/base.html.twig' %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block main %}
    <div class="container-fluid px-0 bg-white">
        <div class="container">
            <div class="row bg-white">
                <div class="col-12 col-lg-6">
                    {% include 'app/component/block/statistics/mandate.html.twig' with {
                        mandate: president_mandate.mandate,
                        promise_statistics: president_mandate.promise_statistics,
                        power_statistics: president_mandate.power_statistics,
                    } only %}
                </div>
                {% if current_election %}
                    <div class="col-12 col-lg-6 order-first order-lg-last">
                        {% include 'app/component/block/statistics/election.html.twig' with {
                            election: current_election.election,
                            mandates: current_election.mandates,
                            constituencies: current_election.constituencies
                        } only %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {#{% include 'app/component/section/promises.html.twig' with {
        promises: president_mandate.promises,
        container_class: 'bg-transparent'
    } only %}#}
    {% include 'app/component/section/about-us.html.twig' only %}
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
