{% extends 'app/base.html.twig' %}

{% set politiciansPromises = app_repo_promise.getListByStatusGroupByPolitician(status) %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block main %}
    <div class="container-fluid bg-light-pattern">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1>
                        {{ 'title.promises'|trans }}
                        <br class="d-block d-md-none">
                        <span class="ml-md-4 mt-5 mt-md-0 status-stamp {{ status ? "status-color-" ~ status.color : "text-muted" }}">
                            {{ status ? status.namePlural : 'placeholder.inactive_plural'|trans }}
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        {% if politiciansPromises is empty %}
        <div class="row">
            <div class="col text-center text-light">
                <h2 class="h3 mt-5">
                    {{ status ? 'title.no_primises_by_status'|trans : 'title.no_inactive_primises'|trans }}
                </h2>
                <p class="h3 mt-4"><span class="fa fa-hourglass-half"></span></p>
            </div>
        </div>
        {% else %}
            {% for politicianData in politiciansPromises %}
                <div class="row mt-5 justify-content-md-center">
                    {% for promise in politicianData.promises %}
                        <div class="col-md-6 col-lg-4">
                            {% include 'app/component/item/promise.html.twig' with {
                                promise: promise,
                                show_status: false
                            } only %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'app/component/section/footer.html.twig' with {delimiter: true} only %}
{% endblock %}