/.volumes/*
!/.volumes/.gitkeep

!/.volumes/backup/
/.volumes/backup/*
!/.volumes/backup/.gitkeep
!/.volumes/backup/postgres/
/.volumes/backup/postgres/*
!/.volumes/backup/postgres/.gitkeep
!/.volumes/backup/uploads/
/.volumes/backup/uploads/*
!/.volumes/backup/uploads/.gitkeep

!/.volumes/sync/
/.volumes/sync/*
!/.volumes/sync/.gitkeep

docker-compose.override.yml
