/.volumes/*
!/.volumes/.gitkeep

!/.volumes/backup/
/.volumes/backup/*
!/.volumes/backup/.gitkeep

!/.volumes/backup/postgres.sh
!/.volumes/backup/postgres/
/.volumes/backup/postgres/*
!/.volumes/backup/postgres/.gitkeep

!/.volumes/backup/uploads.sh
!/.volumes/backup/uploads/
/.volumes/backup/uploads/*
!/.volumes/backup/uploads/.gitkeep

!/.volumes/php/
/.volumes/php/sock/*
!/.volumes/php/sock/.gitkeep

docker-compose.override.yml
