{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.politicians'|trans, link: path('admin_politicians')}
            ],
            current: {title: 'title.politician'|trans}
        } only %}

        {% include 'admin/component/form/politician.html.twig' with {
            form: form,
            submitText: 'action.edit_politician'|trans
        } only %}
    </div>
{% endblock %}