{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'admin/component/breadcrumb.html.twig' with {
                    current: {title: 'title.politicians'|trans},
                    add: {link: path('admin_politician_add'), text: 'action.add_politician'|trans}
                } only %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'admin/component/list/politicians.html.twig' with {
                    politicians: politicians
                } only %}
            </div>
        </div>
    </div>
{% endblock %}