{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'admin/component/breadcrumb.html.twig' with {
                    current: {title: 'title.problems'|trans},
                    add: {link: path('admin_problem_add'), text: 'action.add_problem'|trans}
                } only %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'admin/component/list/problems.html.twig' with {
                    problems: problems
                } only %}
            </div>
        </div>
    </div>
{% endblock %}