{% import 'macros.html.twig' as macros %}
{% set percent = '' ~ macros.getDateIntervalProgress(beginDate, endDate) %}

<div class="d-flex align-items-center justify-content-between">
    <div class="pr-3">{{ beginDate|date() }}</div>
    <div class="progress" style="flex-grow: 1; height: 0.5em;">
        <div class="progress-bar {% if percent == 100 %}bg-secondary{% else %}bg-info{% endif %}"
             role="progressbar"
             style="width: {{ percent }}%;"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
        ></div>
    </div>
    <div class="pl-3">{{ endDate|date() }}</div>
</div>