<div class="container-fluid bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">{{ 'title.about_us'|trans }}</h3>
                <p>...</p>
                <p><img src="{{ asset('photo/team.jpg') }}" alt="Team"></p>
            </div>
        </div>
    </div>
</div>