{% import 'macros.html.twig' as macros %}

<div class="election-statistics bg-white pb-5">
    {% include 'app/component/after-header-space.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col text-center pb-3">
                <h2 class="mb-3">{{ election.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {% for constituency in constituencies %}
                    <p>
                        <span class="badge badge-dark">{{ constituency.number }}</span>
                        <a href="{{ path('constituency', {slug: constituency.slug}) }}">
                            {{ constituency.name }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
