{% import 'macros.html.twig' as macros %}

{% set mapData = [] %}
{% for constituency in constituencies %}
    {% if constituency.map.lat|default %}
        {% set mapData = mapData|merge([{
            lat: constituency.map.lat,
            lng: constituency.map.lng,
            label: constituency.number,
            description: constituency.name,
            url: path('constituency', {slug: constituency.slug}),
        }]) %}
    {% endif %}
{% endfor %}

<div class="election-statistics bg-white pb-5">
    {% include 'app/component/after-header-space.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">{{ election.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="square">
                    <div class="content rounded bg-light map-markers" data-map-markers="{{ mapData|json_encode }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
