{% import 'macros.html.twig' as macros %}

<div class="election-statistics bg-white pb-5">
    {% include 'app/component/after-header-space.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">{{ election.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="square">
                    <div class="content bg-light p-3" style="overflow-y: auto;">
                        {% for constituency in constituencies %}
                            <p>
                                <span class="badge badge-dark">{{ constituency.number }}</span>
                                <a href="{{ path('constituency', {slug: constituency.slug}) }}">
                                    {{ constituency.name }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
