{% if delimiter is defined %}
    <div class="container">
        <hr class="border-secondary mt-5">
    </div>
{% endif %}
<div class="container text-light my-5">
    <div class="row">
        <div class="col mb-3 text-sm-center text-secondary-light">
            <p>deFacto - Platformă online de monitorizare a promisiunilor făcute de politicieni</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-6 col-md-4 col-xl-3">
            <h5 class="mb-3">Ne găsiți pe</h5>
            <ul class="list-unstyled">
                {% for item in [
                    {
                        name: 'Facebook',
                        link: 'https://www.facebook.com/defacto.md/',
                        icon: 'fab fa-facebook-square'
                    }
                ] %}
                <li class="h6">
                    <span class="{{ item.icon }} mr-2"></span>
                    <a href="{{ item.link }}"
                       target="_blank"
                       class="text-primary-light">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3 pt-4 pt-sm-0">
            <h5 class="mb-3">Parteneri</h5>
            <ul class="list-unstyled">
                <li class="h6">
                    <a href="http://www.challenger.md/"
                       target="_blank"
                       class="text-primary-light">CHALLENGER</a>
                </li>
            </ul>
        </div>
    </div>
</div>