<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="mb-4 text-center text-white">{{ 'title.promises'|trans }}</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% for promise in promises %}
                <div class="col-md-6 col-lg-4">
                    {% include 'app/component/item/promise.html.twig' with {promise: promise} only %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>