<div class="list-group list-group-flush">
    {% for action in actions %}
        <a class="list-group-item list-group-item-action" href="{{ path('admin_action_edit', {id: action.id}) }}">
            <h5 {% if not action.published %}class="text-muted font-italic"{% endif %}>
                {{ action.name }}
            </h5>
            <p class="mb-1">
                {% include 'admin/component/widget/politician-name.html.twig' with {
                    politician: action.mandate.politician
                } only %}
                <sup>{{ action.occurredTime|date }}</sup>
            </p>
        </a>
    {% endfor %}
</div>