<div class="list-group list-group-flush">
    {% for mandate in mandates %}
        <a class="list-group-item list-group-item-action" href="{{ path('admin_mandate_edit', {id: mandate.id}) }}">
            <h5>
                {% include 'admin/component/widget/politician-name.html.twig' with {
                    politician: mandate.politician
                } only %}
                <sup>{{ mandate.institutionTitle.title.name }}</sup>
            </h5>
            {% include 'admin/component/widget/begin-end-date-progress.html.twig' with {
                beginDate: mandate.beginDate,
                endDate: mandate.endDate
            } only %}
        </a>
    {% endfor %}
</div>