<div itemprop="author" itemscope itemtype="https://schema.org/NGO" >
    <meta itemprop="name" content="{{ org_name }}" />
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ absolute_url(asset('img/logo-big.png')) }}" />
    </div>
</div>
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{ org_name }}" />
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ absolute_url(asset('img/logo-big.png')) }}" />
    </div>
</div>