<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{% block html_class %}{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head_meta %}
        <meta name="google-maps-api-key" content="{{ google_maps_api_key }}">
    {% endblock %}
    <title>{% block title %}deFACTO{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
</body>
</html>