<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('img/de-facto-check.svg') }}" alt="deFACTO">
        </a>

        <button class="btn btn-sm btn-outline-primary my-2 my-sm-0"
                type="button"
                data-toggle="modal"
                data-target="#instant-search-modal"
        ><span class="fa fa-search"></span>&nbsp;&nbsp;{{ 'action.searching'|trans }}</button>
    </div>
</nav>

<div class="modal fade"
     id="instant-search-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="instant-search-modal"
     aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input class="form-control mr-sm-2"
                       type="text"
                       placeholder="{{ 'placeholder.keywords'|trans }}"
                       aria-label="Search"
                >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
