$app-font-stamp: "Bobbin Cyrillic";
$app-color-primary: #af2227;
$app-color-lighten-amount: 30%;
$app-status-colors: (
    red: #dd3333,
    orange: #f48414,
    yellow: #f4cf28,
    green: #159b4d,
    blue: #2652aa,
    violet: #4f2baa,
    grey: #7c7c7c
);

//region Chartist

$ct-text-size: 1em;
$ct-text-color: #fff;

//endregion

//region Bootstrap Material

$font-family-sans-serif: "Helvetica", "Arial", sans-serif;
$font-family-serif: "Merriweather", serif;
$font-family-base: $font-family-serif !default;

$theme-colors: (
    primary: $app-color-primary
);

$bmd-shadow-umbra-opacity: 0 !default;
$bmd-shadow-penumbra-opacity: 0.14 !default;
$bmd-shadow-ambient-opacity: 0.12 !default;

$modal-backdrop-opacity: .7;

//endregion
