$app-font-brand: "Stardos Stencil"; // original: Butler Stencil
$app-font-stamp: "Bobbin Cyrillic";
$app-color-primary: #af2227;

//region Chartist

$ct-text-size: 1em;
$ct-text-color: #fff;

//endregion

//region Bootstrap Material

$theme-colors: (
    primary: $app-color-primary
);

$bmd-shadow-umbra-opacity: 0 !default;
$bmd-shadow-penumbra-opacity: 0.14 !default;
$bmd-shadow-ambient-opacity: 0.12 !default;

//endregion
