$app-font-stamp: "Redgar";
$app-color-primary: #af2227;

//region Chartist

$ct-text-size: 1em;
$ct-text-color: #fff;

//endregion

//region Bootstrap Material

$font-family-sans-serif: "Helvetica", "Arial", sans-serif;
$font-family-serif: "Merriweather", serif;
$font-family-base: $font-family-serif !default;
$headings-font-family: "Crete Round", serif;

$dark: #2a2d2f;
$info: #35a9d6;
$primary: $app-color-primary;

$theme-colors: (
    primary: $app-color-primary
);

$bmd-shadow-umbra-opacity: 0 !default;
$bmd-shadow-penumbra-opacity: 0.14 !default;
$bmd-shadow-ambient-opacity: 0.12 !default;

$modal-backdrop-opacity: .7;

$bmd-nav-tabs-active-border-color: map_get($theme-colors, primary);

//endregion
