@import "variables";
@import "~node-waves/src/sass/waves";
@import '~bootstrap/scss/bootstrap';
@import "~mdbootstrap/scss/mdb";
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";
@import "~chartist/dist/scss/chartist";

.navbar {
    &.sticky-top {
        margin-bottom: 1em;
    }

    .navbar-brand.logo-effect {
        padding-bottom: 0;
        position: relative;

        font-family: $app-brand-font;
        font-weight: bold;
        line-height: 1;
        font-size: 2em;

        .text {
            &:before {
                content: 'de';
                color: $app-accent-color;
            }
            &:after {
                content: 'FACTO';
                color: #000;
            }
        }
        .check {
            width: 0.9em;
            height: 0.9em;
            display: inline-block;
            background: transparent url("../../img/check.svg") no-repeat scroll center center;
            background-size: contain;
            position: absolute;
            top: -0.04em;
            right: -0.4em;
        }
    }
}

.progress.votes {
    font-size: $font-size-lg;
    height: $font-size-lg * 2;
}


