@import "variables";
@import '~bootstrap-material-design/scss/bootstrap-material-design';
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";
@import "~chartist/dist/scss/chartist";

.navbar {
    .navbar-brand.logo-effect {
        padding-bottom: 0;
        position: relative;

        font-family: $app-brand-font;
        font-weight: bold;
        line-height: 1;
        font-size: 2em;

        .text {
            &:before {
                content: 'de';
                color: $app-accent-color;
            }
            &:after {
                content: 'FACTO';
                color: #000;
            }
        }
        .check {
            width: 0.9em;
            height: 0.9em;
            display: inline-block;
            background: transparent url("../../img/check.svg") no-repeat scroll center center;
            background-size: contain;
            position: absolute;
            top: -0.04em;
            right: -0.4em;
        }
    }
}

.mandate-statistics {
    background-image: url($app-bg-img-section-politician);
    background-size: cover;

    .progress {
        font-size: $font-size-lg;
        height: $font-size-lg * 2;
    }

    @include media-breakpoint-down(sm) {
        .photo-col {
            max-width: 25rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h2 {
        text-shadow: -1px 0 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff;
    }

    .card .card-title.text-center > .fa.rounded-circle {
        margin-bottom: -50%;
    }
}
.navbar.sticky-top + .mandate-statistics {
    padding-top: 1em;
}

