{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.promises'|trans, link: path('admin_promises')}
            ],
            current: {title: 'title.promise_edit'|trans},
            add: {link: path('admin_promise_add'), text: 'action.add_promise'|trans},
            frontendLink: path("promise", {slug: promise.slug})
        } only %}

        {% include 'admin/component/form/promise.html.twig' with {form: form} only %}

        <div class="mt-5"></div>
        <div class="row">
            <div class="col">
                <h3>
                    {{ 'title.actions'|trans }}
                    <sup>
                        <a href="{{ path('admin_action_add', {'promise': promise.id}) }}"
                           class="badge badge-light text-muted"
                        >{{ 'action.add'|trans }}</a>
                    </sup>
                </h3>
                {% include 'admin/component/list/actions.html.twig' with {
                    actions: actions
                } only %}
            </div>
        </div>
    </div>
{% endblock %}