{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' only %}
        <div class="my-5 text-center">
            <img src="https://static.md/f6461a56b25e76869a16a2d54f10cd8e.gif" alt="Hello">
        </div>
    </div>
{% endblock %}